@import "_reset";

$tablet: 768px;
$phone: 480px;

/* Display
********************/
@media screen and (max-width: $tablet) {
  .d-t-none {
    display: none;
  }
}
@media screen and (max-width: $phone) {
  .d-p-none {
    display: none;
  }
}

/* Widths
********************/
.w-33 {
  width: 33.33%;
}
@for $i from 1 through 10 {
  .w-#{$i * 10} {
    width: $i * 10%;
  }
}

@media screen and (max-width: $tablet) {
  @for $i from 1 through 10 {
    .t-w-#{$i * 10} {
      width: $i * 10%;
    }
  }

  @media screen and (max-width: $phone) {
    @for $i from 1 through 10 {
      .p-w-#{$i * 10} {
        width: $i * 10%;
      }
    }
  }
}

/* Padding
********************/
@for $i from 0 through 10 {
  .p-#{$i} {
    padding: $i * 1%;
  }
}
@for $i from 0 through 10 {
  .p-t#{$i} {
    padding-top: $i * 1%;
  }
}

@for $i from 0 through 10 {
  .p-r#{$i} {
    padding-right: $i * 1%;
  }
}

@for $i from 0 through 10 {
  .p-b#{$i} {
    padding-bottom: $i * 1%;
  }
}
@for $i from 0 through 10 {
  .p-l#{$i} {
    padding-left: $i * 1%;
  }
}

/* Margin
********************/
@for $i from 0 through 10 {
  .m-#{$i} {
    margin: $i * 1%;
  }
}
@for $i from 0 through 10 {
  .m-t#{$i} {
    margin-top: $i * 1%;
  }
}

@for $i from 0 through 10 {
  .m-r#{$i} {
    margin-right: $i * 1%;
  }
}

@for $i from 0 through 10 {
  .m-b#{$i} {
    margin-bottom: $i * 1%;
  }
}
@for $i from 0 through 10 {
  .m-l#{$i} {
    margin-left: $i * 1%;
  }
}

/* container
*********************/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
  width: 800px;
  margin: auto;
  max-width: calc(100% - 16px);
}
section {
  display: flex;
  flex-wrap: wrap;
  > * {
    display: inline-flex;
  }
}

/* text properties
********************/
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.text-c {
  text-align: center;
}

/* typography
**********/
.f-08em {
  font-size: 0.8em;
}
.f-1em {
  font-size: 1em;
}
.f-1-5em {
  font-size: 1.5em;
}
.f-2em {
  font-size: 2em;
}
.f-10 {
  font-size: 10px;
}
.f-15 {
  font-size: 15px;
}
.f-20 {
  font-size: 20px;
}
